<nav>
  <ul>
    <li>
      <a routerLink="/param/{{routeParam}}" #routeStringAnchor>Param</a> <span>{{routeStringAnchor.href}}</span>
    </li>
    <li>
      <a [routerLink]="['/param', routeParam]" #routeArrayAnchor>Param(Array)</a> <span>{{routeArrayAnchor.href}}</span>
    </li>
    <li>
      <a routerLink="/query" [queryParams]="{q: query}" #queryAnchor>Query</a> <span>{{queryAnchor.href}}</span>
    </li>
    <li>
      <a routerLink="/flag" [fragment]="fragment" #fragmentAnchor>Fragment</a> <span>{{fragmentAnchor.href}}</span>
    </li>
    <li>
      <a routerLink="/employees">Employees</a>
    </li>
    <li><a routerLink="/lazy">LazyLoad</a></li>
  </ul>
</nav>

<input type="text" [(ngModel)]="routeParam" placeholder="rootParam">
<input type="text" [(ngModel)]="query" placeholder="queryParam">
<input type="text" [(ngModel)]="fragment" placeholder="fragment">

<router-outlet></router-outlet>
